extends layout

block content
  .ui.main.text.container
    .ui.one.column.middle.aligned.very.relaxed.stackable.grid
      .column
        h1.ui.header Hello Lensa, I want to play a game!
        form.ui.form(action="gamerequestsubmit" method="post")
          .field
            label Applicant Name
            input(type="text" name="applicantName" placeholder="Name")
          .field
            label Applicant Email
            input(type="text" name="applicantEmail" placeholder="Email")
          .field
            label Sample Client Id
            div.ui.orange.horizontal.label=clientId
          .field
            label Sample Api Key
            div.ui.orange.horizontal.label=apiKey
          .field
            label Sample Redirect URL
            div.ui.orange.horizontal.label=returnUrl
          button.ui.primary.button(type="submit") Play
      .ui.horizontal.divider Or
      .column
        h1.ui.header I want to see some results!
        form.ui.form(action="getresultsubmit" method="post")
          .field
            label Game Id
            input(type="text" name="gameId" placeholder="Game Id")
          .field
            label Sample Client Id
            div.ui.orange.horizontal.label=clientId
          .field
            label Sample Api Key
            div.ui.orange.horizontal.label=apiKey
          button.ui.primary.button(type="submit") Show
